.items {
  display: flex;
  justify-content: center;
  column-gap: 10px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #b2babf;
    border-radius: 20%;
    font-weight: 500;
    cursor: pointer;

    &.active {
      border: 2px solid #4b84a6;
      // background-color: #edf8ff; //#b4c7de;
    }

    &.disabled {
      display: none;
    }
  }
}
